div.toolbar > div {
	float: left;
	display: inline;
	margin: 0.2em 0;
	padding: 0 0.5em;
	border-right: 1px solid #DDD;
}

.clear {
	clear: both;
}

.tabs {
}

.tabcontent {
	position: relative;
	background-color: #EEF;
	border-top: none;
	top: -1px;
	min-height: 300px
}

.tabcontent.hidden {
	display: none
}

.tabbutton {
	float: left;
	background-color: #DDD;
	padding: 0.5em 1em;
	border: 3px outset grey;
	cursor: pointer;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border-bottom: 1px solid grey;
	z-index: 100;
}

.tabbutton.current {
	background-color: #EEF;
	border: 3px inset grey;
	border-bottom: 1px solid white;
}

